room-background-editor
    .aTexturePicker img
        width 2rem
        vertical-align bottom
        border-radius 0.25rem
    label + label
        margin-top 0
    .fifty
        padding 0.5rem 0.25rem